@tailwind base;
@tailwind components;
@tailwind utilities;

/* body{
    background-image: url(\heroimage.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
   
} */

@media (max-width: 450px) {
    .heroContent{
        position: relative;
        left: 5%;
    
    }

}
@media (max-width: 330px) {
    .heroContent{
       padding-left: 10%;
    
    }
    .book{
        font-size: 30px;
    }
    .bet{
        font-size: 5px;
    }
    .content{
        width: 200px;
    }

}
 

@media (max-width: 740px) {
    .content{
        width: 400px;
    }
    .book{
        font-size: 40px;
    }
    .bet{
        font-size: 20px;
    }
 
}


