@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
   
  }
  
  .App {
    text-align: center;
  }

  @media (max-width: 470px) {
    .navbar{
      gap: 7px;
      font-size: medium;
      padding-left: 3px;
    }
    .logo{
      display: none;
    }
    .contacts{
      gap: 2px;
    }
    .Shivabook{
      font-size: 15px;
    }

  }

  